<ion-view view-title="Kuinka toimia & Palaute" >

    <!-- <ion-nav-title ></ion-nav-title> -->
  
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-android-close" ng-click="goBack()"></button>
  </ion-nav-buttons>
  

  <ion-content overflow-scroll="true" class="ion-content--grey">
    

    <div class="view-fade-in" >
    	
    	<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-help-circled" ></i> Kuinka käyttää ? 
			  </div>
			  <div class="item item--no-border item-text-wrap">
			   	<strong>Yhteiskäyttöauto</strong>  toimii täysin eri tavoin kuin vuokra-auto. Flexi on all inclusive-paketti, jonka hinta sisältää ajon, pysäköinnin, polttoaineen, vakuutusmaksut, huollot ja rekisteröintimaksut. Yhteiskäyttöautoilla on oma autotalkkari, joka pitää autoista huolta, mutta joskus tarvitsemme myös sinun apuasi esimerkiksi autojen tankkaamiseen. Loistojuttu, että autat meitä ja sen lisäksi saat myös kerättyä tilillesi krediittejä.
			   	<br><br>
			   	<strong>Hinta</strong> kuukausimaksut tai jäsenyyspakko ovat meille tuntematon asia ja maksat ainoastaan auton käytöstä. Flexi hinnoitellaan normaalisti minuuteissa (2 krediittiä/ minuutti) tai kilometreissä (1 krediitti/ kilometri), jos lähdet yli 100 kilometrin matkalle. Ensimmäisellä käyttökerralla lataat tilillesi krediittejä -- aivan kuin matkakortillekin. Suurempi latausmäärä krediittejä tarkoittaa jopa 30 % edullisempia matkoja sinulle. Lisäksi Flexi palkitsee käytöstä eli keräät käyttämällä flexiä itsellesi krediittejä ja vieläkin edullisempia ajoja.
			   	<br><br>
			   	<strong>Miksi?</strong> Lisää Flexi omaan liikkumisen palapeliisi. Flexi on joustava ratkaisu liikkumiseen paikasta toiseen silloin kun tarvitset auton käyttöösi heti. Ymmärrämme, että oman liikkumisen suunnittelu pitkällä aikavälillä ei aina onnistu. Flexi istuu täydellisesti julkisen liikenteen ja oman auton välimaastoon. Lisäksi se on saatavillasi juuri silloin kun sitä tarvitset.
			  </div>
			</div>

			<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-information-circled" ></i> Tarjoaja 
			  </div>
			  <div class="item item--no-border item-text-wrap">
			   	Flexin tarjoaa 24Rent Oy
			  </div>
			</div>

			<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-android-textsms" ></i> Feedback
			  </div>
			  <div class="item item--no-border item-text-wrap">
			   	Ongelmia applikaation tai palvelun käytössä? Entä parannusehdotuksia? Otamme vastaan mielellämme palautetta koskatahansa!<br><br>Ota yhteyttä <a href="mailto:">palaute@flexi.fi</a>.
			  </div>
			</div>


    </div>


  </ion-content>
</ion-view>