<ion-view view-title="Kuinka toimia & Palaute" >

    <!-- <ion-nav-title ></ion-nav-title> -->
  
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-android-close" ng-click="goBack()"></button>
  </ion-nav-buttons>
  

  <ion-content overflow-scroll="true" class="ion-content--grey">
    

    <div class="view-fade-in" >
    	
    	<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-help-circled" ></i> Kuinka käyttää ? 
			  </div>
			  <div class="item item--no-border item-text-wrap">
			   	<strong>Volontario</strong>  toimii kuten voisi olettaa
			   	<br><br>

			  </div>
			</div>

			<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-information-circled" ></i> Tarjoaja 
			  </div>
			  <div class="item item--no-border item-text-wrap">
			  </div>
			</div>

			<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-android-textsms" ></i> Feedback
			  </div>
			  <div class="item item--no-border item-text-wrap">
			   	Ongelmia applikaation tai palvelun käytössä? Entä parannusehdotuksia? Otamme vastaan mielellämme palautetta koskatahansa!<br><br>Ota yhteyttä <a href="mailto:">palaute@volontario.fi</a>.
			  </div>
			</div>


    </div>


  </ion-content>
</ion-view>