<ion-view id="login" hide-nav-bar="true">
	<ion-content padding="true" scroll="false">
		<form>
			<div class="row responsive-md">
				<div class="col col-50 col-offset-25">
					<div class="header padding text-center">
						<img src="" alt="Your logo here"/>
					</div>

					<div class="list">
						<label class="item item-input">
							<input type="text" placeholder="Käyttäjätunnus" required ng-model="data.phonenumber">
						</label>
						<label class="item item-input">
							<input type="password" placeholder="Salasana" ng-model="data.password">
						</label>
					</div>

					<div class="button-bar">
					  <button class="button button-block button-calm" ng-click="login()">Kirjaudu sisään</button>
					  <button class="button button-block button-calm" ui-sref="app.registration">Rekisteröidy</button>
					</div>

					<div class="button-bar">
					  <button class="button button-block button-calm" ng-click="loginViaFacebook()">Kirjaudu sisään Facebookissa</button>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
