<ion-view view-title="Settings" >

  <ion-content overflow-scroll="true" class="ion-content--grey">
    

    <div class="view-fade-in" >
    	
    	<div class="card info-card">
			  <div class="item item--header">
			    <i class="icon ion-android-settings" ></i> Settings
			  </div>
			  <div class="item item--no-border item-text-wrap">
				 	Lower your tools for now!<br><br> Settings will be here when we have knobs to turn.
				 	
				 	
			  </div>
			</div>


    </div>


  </ion-content>
</ion-view>