<ion-view view-title="Tapahtumakalenteri">
  
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-done favorites" ng-click="save()"></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" class="ion-content--grey">
    <div class="view-fade-in" >
      
      <div class="card info-card" ng-repeat="data in userEvents">
        <div class="item item--header">
          <i class="icon ion-android-settings" ></i> Tapahtumat
        </div>
        <div class="item item--no-border item-text-wrap">
          <label>id:
          <input type="text" name="eventID"
             ng-model="data"
             ng-model-options="{ getterSetter: true }" />
          </label>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>