<ion-view view-title="List view">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-done favorites" ng-click="save()"></button>
  </ion-nav-buttons>
  

  <ion-content overflow-scroll="true" class="ion-content--grey">
    


    <div class="view-fade-in" >
      
          <br>
     <div class="button-set-top">
          <div class="button-set__action-buttons" ng-if="showFilter"  ng-class="{open:buttonsVisible}" ng-click="buttonsVisible=!buttonsVisible">
        <span class="button-set__action-buttons" ng-if="!buttonsVisible">
            <a ng-repeat="category in categories track by category.id"
            class="button button-light button-round button-round--small {{category.icon}}"
            ng-class="{'selected':selectedCategories.indexOf(category.name)>=0}"
            ng-click="toggleCategory(category.name)"
            ></a>
        </span>
    </div>
    <button
      ng-click="showFilter=!showFilter" 
      class="button button-light icon button-filters button-round"
      ng-class="{'button--open':showFilter }"><i></i>
      </button>
      
      <div class="row" ng-repeat="data in data ">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">{{ data.title }}</span>
            <p>Tähän laajempi kuvaus.</p>
          </div>
          <div class="card-action">
            <a href="{{ data.url }}">Lue lisää</a>
            <a href="#">Ilmottaudu</a>
          </div>
        </div>
      </div>
    </div>
  </div>          



  </ion-content>
</ion-view>