<ion-view view-title="">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-done favorites" ng-click="save()"></button>
  </ion-nav-buttons>
  

  <ion-content overflow-scroll="true" class="ion-content--grey">
    
    <div class="view-fade-in" >   
     <div class="fixed-action-btn horizontal click-to-toggle horizontal-btn-margin" style="top: 10px; left: 10px;">
      <a class="btn-floating button-light btn-large waves-effect waves-light">
        <i class="small mdi-navigation-menu"></i>
      </a>
      <ul>
      <li ng-repeat="category in categories track by category.id">
      <a class="btn-floating button button-light button-round button-round--small {{category.icon}}"
              ng-class="{'selected':selectedCategories.indexOf(category.name)>=0}"
              ng-click="toggleCategory(category.name)"
              ><i class="material-icons"></i></a></li>
      </ul>
    </div>
<br><br>
    <div class="wrapper center" ng-repeat="data in data">
      <div class="clash-card goblin">
        <div class="clash-card__level clash-card__level--goblin">{{ data.category }}</div>
        <div class="clash-card__unit-name">{{ data.name }}</div>
        <div class="clash-card__unit-description">
         Tähän laajempi kuvaus.
         <a href="{{ data.url }}">Lue lisää</a>
        </div>

        <div class="clash-card__unit-stats clash-card__unit-stats--goblin clearfix">
          <div class="one-third">
            <div class="stat">22.05</div>
            <div class="stat-value">Milloin</div>
          </div>

          <div class="one-third">
            <div class="stat"></div>
            <div class="stat-value"></div>
          </div>

          <div class="one-third no-border">
            <div class="stat"></div>
            <div class="stat-value">Ilmoittaudu</div>
          </div>

        </div>

      </div> <!-- end clash-card goblin-->
    </div> <!-- end wrapper -->



  </ion-content>
</ion-view>