<ion-view view-title="Profile">
  
  <!--
    <ion-nav-title>
      <img src="img/Sviit-accent.svg">
    </ion-nav-title>
    -->

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-android-done favorites" ng-click="save()"></button>
  </ion-nav-buttons>
  

  <ion-content overflow-scroll="true" class="ion-content--grey">
    

    <div class="view-fade-in" >
      
      <div class="card info-card">
        <div class="item item--header">
          <i class="icon ion-android-settings" ></i> Profile
        </div>
        <div class="item item--no-border item-text-wrap">
          <label>Name:
          <input type="text" name="userName"
             ng-model="user.givenName"
             ng-model-options="{ getterSetter: true }" />
          </label>
          <label>Lastname:
           <input type="text" name="userName"
             ng-model="user.familyName"
             ng-model-options="{ getterSetter: true }" />
          </label>
          <label>Phone:
           <input type="text" name="userName"
             ng-model="user.phoneNumber"
             ng-model-options="{ getterSetter: true }" />
          </label>
          <label>id:
           <input type="text" name="userName"
             ng-model="user.id"
             ng-model-options="{ getterSetter: true }" />
          </label>
          <label>Date of birth:
           <input type="text" name="userName"
             ng-model="user.dateOfBirth"
             ng-model-options="{ getterSetter: true }" />
          </label>

        </div>
      </div>


    </div>


  </ion-content>
</ion-view>