
  @keyframes showButtons {
      from {transform:translate3d(0,100%,0) scale(0);opacity:0;}
      to { transform:translate3d(0,0,0) scale(1);opacity:1; }
  }


.button-set {
  position:absolute;
  left:15px;
  bottom:35px;
  z-index:10;
  width:52px;
  text-align:center; 
  
  .button-set__action-buttons {
    //opacity:0;
    transition: opacity 0.2s ease;
    .button {
      /*
      transition: transform 0.2s ease;
      */
      margin-bottom:10px;
      opacity:0;
      transform:translate3d(0,100%,0) scale(0);    
      animation: showButtons 0.35s cubic-bezier(.87,-.41,.19,1.44);
      animation-fill-mode: forwards;
      
      $button-count:6;
      
      @for $i from 1 through $button-count{
        &:nth-child(#{ $button-count - $i}) { 
            animation-delay: ($i)*40ms;
        }
      }
     // color: $balanced;
      &.selected {
        background: #000;
        color:#FFF;
      }

    }
  }
}

.button-toggle {
  &:before {
    transform: transform3d(0,0,0) rotate(0);
    transition:transform 0.15s ease;
  }
  &.open:before {
    transform:scaleY(-1);
  }
}


.button.button-round {
  width:52px;
  height:52px;
  padding:0;
  line-height:52px;
  border-radius:50%;
  border:none;
  position:relative;
  box-shadow:0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  &.button-round--small {
    width:36px;
    height:36px;
    min-height:0;
    min-width:0;
    line-height:36px;
    font-size:20px;
  }

  .badge {
    position: absolute;
    right: -5px;
    top:-3px;
    background: #000;
    font-weight: normal;
    font-size:12px;
    color:#FFF;
    display: inline-block;
    padding:0;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
  }
}


.nav-bar-block .bar-header.bar .button.button-icon.button-remove:before {
  font-size: 25px;
  margin-top: 5px;
  color: #888;
}